<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\BacklashBot.dll" stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout" hostingModel="inprocess" startupTimeLimit="3600" />
		</system.webServer>
	</location>
</configuration>